// Fonts Variables

$primaryFont: "Montserrat";
$secondaryFont: "Cormorant";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;

// Colors Variables

$primaryColor: #00433B;
$secondaryColor: #d9954c;

$black: #000000;
$white: white;

$gray1: #A6A6A6;
$gray2: rgba(0, 0, 0, 0.24);
$gray3: rgba(255, 255, 255, 0.5);
$gray4: #6d758f;
$gray5: #D6D7DC;
$gray6: #50535c;
$gray7: #e3e3e3;
$gray8: rgba(255, 255, 255, 0.3);
$gray9: #a0a1a6;
$gray10: #F1F1F1;
$gray11: rgba(80, 83, 92, 0.07);

$border1: rgba(255, 255, 255, 0.4);
$border2: rgba(0, 0, 0, 0.4);
$border3: rgba(0, 0, 0, 0.24);

$shadow1: rgba(0, 0, 0, 0.2);
$shadow2: rgba(194, 209, 223, 0.25);

$green1: #002b2e;
$green2: #012426;
$green3: #00433b;

$orange1: #F5F0E2;

// Container Variables

$containerWidth: 82rem;
$containerPadding: 1.25rem;

$eventsContainerWidth: 68rem;