// Journal Styles

.journal {
    width: 100%;
    margin-bottom: 8.75rem;

    &__slider-wrap {
        position: relative;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 3.25rem;
    }

    &__slider {
        width: calc(100% - 14rem);
    }

    &__slider-btn {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        &_next {
            left: auto;
            right: 0;
        }

        &.swiper-button-disabled {
            opacity: 0.3;
        }
    }

    &__mobile-items {
        display: none;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__mobile-btn {
        display: none;
        width: 100%;
        margin-top: 3.25rem;
    }
}

.journal-item {

    &__img {
        width: 100%;
        height: 17.06rem;
        object-fit: cover;
        margin-bottom: 1.5rem;
    }

    &__title {
        font-family: $secondaryFont;
        font-weight: $medium;
        font-size: 2.5rem;
        line-height: 110%;
        color: $secondaryColor;
        margin-bottom: 1rem;
    }

    &__text {
        margin-bottom: 1.5rem;
    }
}

// Media Queries

@media all and (max-width: 700px) {

    .journal {
        margin-bottom: 4.5rem;

        &__slider,
        &__slider-buttons,
        &__btn {
            display: none;
        }

        &__mobile-items {
            display: flex;
        }

        &__mobile-btn {
            display: block;
        }
    }

    .journal-item {

        &__title {
            font-size: 1.75rem;
            margin-bottom: 0;
        }

        &__img {
            margin-bottom: 1.25rem;
        }
    }
}